.autoriz{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.bg{
    background-color: rgba(207, 124, 0, 0.5);
    width: 500px;
    height: 200px;
    border-radius: 30px;
}
.h1{
    text-align: center;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input::placeholder{
    color: white !important;
}

.input{
    background-color: rgba(220, 20, 60);
    border: none;
    border-radius: 20px;
    height: 60px;
    padding: 0 10px;
    color: rgb(243, 247, 12) !important;
}

.btn{
    margin-top: 20px;
    border: none;
    border-radius: 0;
    color: white;
    background-color: transparent !important;
    width: 200px !important;

}
.burger{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}